<a href="#orders/edit/{{ id }}"><span class="order--span w-25 b-14">{{ orderFName }} {{ orderLName }}</span>
<span class="order--span w-20 b-14">{{ orderType }}</span>
<span class="order--span w-20 b-14">{{ orderDueDate }}</span>
<span class="order--span w-35 b-14">{{ orderEmail }}</span></a>